html {
    scroll-behavior: smooth;
    --black: grey;
    --black: #000;
    --yellow: #FAD649;
    --white: #F2F2F2;
    --blue: #1E3045;
    --light-blue: #9BBABA;

  }
  body {
    margin: 0;
    display: grid;
    grid-template-columns: min-content 1fr;
    font-family: system-ui, sans-serif;
    background-color:var(--black);
    
    /* this breaks position sticky in Firefox */
    /* overflow-x: hidden; */
  }
  header {
    grid-column: 1 / 4;
    color: var(--white);
    padding: 4rem;
    text-align: center;
    height: 100vh;;
  }

  aside, nav {
    white-space: nowrap;
  }
  aside ul, nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  @media (min-height: 300px) {
    aside ul {
      position: sticky;
      top: 40vh;
    }
    nav ul {
      position: sticky;
      top: 38.5vh;
    }
  }
  aside ul li a, nav ul li a {
    display: block;
    padding: 0.5rem 1rem;
    color: var(--light-blue);
    text-decoration: none;
  }
  nav ul li a.current {
    /* background: var(--blue); */
    color: var(--yellow); 
  }

  section {
    padding: 2rem;
    margin: 0 0 2rem 0;
    min-height: 100vh;
    color: var(--white)
  }
  footer {
    grid-column: 1 / 3;
    padding: 5rem 1rem;
    color: var(--white);
  }

  .svg {
    height: 3vh;
    filter: invert(77%) sepia(5%) saturate(867%) hue-rotate(131deg) brightness(92%) contrast(95%);
  }

  .svg:hover {
    height: 3vh;
    filter: invert(96%) sepia(36%) saturate(3788%) hue-rotate(320deg) brightness(107%) contrast(96%);
  }

  .header-ul {
    display: flex;
  }

  .header-ul li {
    padding: 1rem;
  }